@import 'tailwindcss';

:root {
  background-color: #010101;
  color: #f5f5f5;
}

body {
  margin: 0;
  background-color: #010101;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif;
}
